@import url('./variable.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* [reset] */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid lightgray; */
}

body {
  color: var(--default-black);
  margin: auto;
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
  outline: none;
  font-family: 'Noto Sans KR', sans-serif;
  color: inherit;
}

input {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: var(--font-size-medium);
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: var(--font-size-medium);
}

select {
  border: none;
  outline: none;
}

h1,
h2 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-default);
}

span,
p,
select {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: var(--font-size-small);
}

header,
section {
  padding: var(--padding-default);
  margin: 0 auto;
}
/*  */

/* [reuse] */
.max-width {
  max-width: 1400px;
  width: 80%;
}

.highlight {
  font-weight: var(--font-weight-extra-thick);
  color: var(--primary-blue);
}

.selected {
  color: var(--background-white);
  background-color: var(--primary-blue);
  font-weight: var(--font-weight-extra-thick);
  border-color: var(--primary-blue) !important;
}

.pause {
  background-color: var(--color-pause);
}

.open,
.guidance {
  background-color: var(--primary-blue);
}

.full,
.closed {
  background-color: var(--color-full);
}

.shadow {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

/*  */

/* [layout] */
/* header */
.header__wrap {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  gap: var(--gap-default);
  margin: auto;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__category-item {
  width: 100px;
}

.header__category-item button {
  width: 100%;
}
/*  */

/* intro */
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro__search-wrap {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__search-wrap > input {
  flex: 1;
}

.intro__submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__title {
  flex: 6;
}
/*  */

/* services-detail */
.services-detail {
  display: flex;
}
/*  */

/* services */
.services {
  flex: 4;
}

.services__list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-default);
  max-height: 500px;
}

.services__item {
  display: flex;
  height: 160px;
  align-items: center;
}

.services__img {
  flex: 1;
  position: relative;
  height: calc(160px - calc(var(--padding-thin) * 2));
}

.services__img > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services__status {
  position: absolute;
  top: var(--gap-thin);
  left: var(--gap-thin);
}

.services__info-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.services__detail-info-wrap img {
  font-size: var(--font-size-small);
  width: var(--font-size-small);
}

.services__pagination-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-thin);
}

.services__prev,
.services__next {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*  */

/* detail */
.detail {
  flex: 6;
  display: flex;
  flex-direction: column;
  gap: var(--gap-default);
}

.detail__map {
  flex: 6;
}

.detail__desc {
  flex: 3;
}

.detail__reservation {
  width: 150px;
  margin-left: auto;
}
/*  */

/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  padding-top: 20px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray);
  border-radius: var(--border-radius-default);
}
